<h2>Account Info</h2>
<h3>ID：<%= @user.name %></h3>
<h3>スクリーンネーム：<%= @user.nickname %></h3>
<% if user_signed_in? && (@user.id == current_user.id) %>
<h3>メールアドレス：<%= @user.email %></h3>
<p><%= link_to 'Edit Account', edit_user_registration_path %></p>
<% end %>
<%= render 'follow_form' %>
<%= render 'stats' %>
<h2>ツイート一覧</h2>
<ul>
  <% @tweets.each do |tweet| %>
  <li>
    <%= link_to tweet.content, tweet_path(tweet) %>
  </li>
  <% end %>
</ul>
