<h2>ツイート詳細</h2>
<p><%= simple_format @tweet.content %></p>
<p>投稿者：<%= link_to "@#{@poster.name}", user_path(@poster) %></p>

<h3>Replies</h3>
<% if @tweet.replies.any? %>
<ul>
  <% @tweet.replies.each do |reply| %>
  <li>
    <%= reply.content %>
    <% if user_signed_in? && (reply.user_id == current_user.id) %>
    <%= link_to '[Edit]', edit_tweet_reply_path(@tweet, reply), class: 'command'%>
    <%= link_to '[x]',
      tweet_reply_path(@tweet, reply),
      method: :delete,
      class: 'command',
      data: { confirm: 'Sure?' } %>
    <% end %>
  </li>
  <% end %>
</ul>
<% end %>

<%= form_for ([@tweet, @tweet.replies.build]) do |f| %>
<p>
  <%= f.text_area :content, placeholder: 'enter here '%>
  <% if !(@reply.nil?) && @reply.errors.messages[:content].any? %>
  <span class="error"><%= @reply.errors.messages[:content][0] %></span>
  <% end %>
</p>
<p>
  <%= f.label :"公開範囲" %>
</p>
<p>
  <%= f.select :level, [["全体", 0], ["フォロワーのみ", 1], ["自分のみ", 2]] %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
