<%= render 'follow_form' %>
<ul class="nav nav-tabs" id="tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="tweetsTab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">ツイート</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="follwTab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="true"><%= @user.followings.count %>フォロー中</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="followerTab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="true"><%= @user.followers.count %>フォロワー</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="infoTab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="true">アカウント情報</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tweetsTab">
    <% if @tweets.any? %>
    <%= render :partial => 'tweets/tweets', locals: { tweets: @tweets, favs: @favs } %>
    <% else %>
    ツイートがまだありません
    <% end %>
  </div>
  <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="followTab">
    <% @followings.each do |user| %>
    <div class="tweet">
      <h3><%= user.nickname %></h3>
      <p>@<%= user.name %></p>
      <%= link_to '詳細', user_path(user), class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="followerTab">
    <% @followers.each do |user| %>
    <div class="tweet">
      <h3><%= user.nickname %></h3>
      <p>@<%= user.name %></p>
      <%= link_to '詳細', user_path(user), class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="infoTab">
    <h2>Account Info</h2>
    <h3>ID：<%= @user.name %></h3>
    <h3>ニックネーム：<%= @user.nickname %></h3>
    <% if user_signed_in? && (@user.id == current_user.id) %>
    <h3>メールアドレス：<%= @user.email %></h3>
    <p><%= link_to 'Edit Account', edit_user_registration_path, class: 'btn btn-info' %></p>
    <% end %>
  </div>
</div>
