<!DOCTYPE html>
<html>
  <head>
    <title>Mysns</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if user_signed_in? %>
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #ededed;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
          <span class="sr-only">メニュー</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("logo.png", size: "50x50"), root_path %>
        <%= link_to "HOME", root_path %>
      </div>

      <div id="gnavi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to '投稿する', new_tweet_path, class: 'btn btn-primary' %></li>
          <li><%= link_to "通知(#{@num_of_unread})", user_notifications_path(current_user.id) %></li>
          <li><%= link_to 'アカウント情報', user_path(current_user.id) %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </nav>
    <% end %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="notice"><%= alert %></p>
      <% if admin_signed_in? %>
      管理ユーザーです
      <p><%= link_to 'LOG OUT', destroy_admin_session_path, method: :delete %></p>
      <% elsif user_signed_in? %>
      <% else %>
      <h1><%= link_to image_tag("logo.png", size: "150x150"), root_path %></h1>
      <%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-primary' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
